.upload_container{
    height: 100vh;
    width: 100vw;
    background-color: #00a8ff;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload_modal{
    height: 40vh;
    width: 40vw;
    background-color: white;
    border-radius: 3rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 17px 8px, rgba(0, 0, 0, 0.3) 0px 14px 26px -6px, rgba(0, 0, 0, 0.2) 0px -6px 0px inset;
}

.uploadPoster{
    height: 37rem;
    width: 27rem;
    position: absolute;
    top: 16rem;
    left: 88rem;
}

.uploadPosterr{
    
    height: 32rem;
    width: 27rem;
    position: absolute;
    top: 14rem;
    right: 88rem;

}



@media (max-width : 1440px){
    .uploadPosterr {
        height: 29rem;
    width: 22rem;
    position: absolute;
    top: 12rem;
    right: 66rem;
    }
    .uploadPoster {
        height: 29rem;
        width: 23rem;
        position: absolute;
        top: 13rem;
        left: 64rem;
    }
}

@media (max-width : 1024px){
    .uploadPosterr,.uploadPoster {
        display: none;
    }
}

@media(max-width:777px){
    .upload_modal {
        width: 72vw;
    }
}