
.mainBocContainer{
    height: 100%;
    width: 100%;
}

.like,.comment,.share{
    position: absolute;
    font-size: 2rem;
    bottom: 16rem;
}
.number_likes{
    font-weight: bold;
    left: 3rem;
    position: absolute;
    top: 42.2rem;
    font-size: 1.8rem;
    color: blue;
}
.like{
    color: red;
    left: 5rem;
}
.comment{
    color: white;
    left:8rem
}
.share{
    right: 3rem;
    color: white;
}
.video-card{
    height: 100%;
    width: 40%;
    scroll-snap-align: start;
    position: relative;
    margin: auto;
    align-items: center;
    display: flex;
}
video{
    height: 50%;
    width: 100%;
    object-fit: cover;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 17px 8px, rgba(0, 0, 0, 0.3) 0px 14px 26px -6px, rgba(0, 0, 0, 0.2) 0px -6px 0px inset;
}
.animate{
    animation: zoomOut 2s ease-out ;
}
@keyframes zoomOut{
    0%{
        font-size: 3.2rem;
    }
    20%{
        bottom: 25rem;
        right: 10rem;
        font-size: 5rem;
        opacity: 0.8;
    }
    50%{
        bottom: 35rem;
        right: 12rem;
        font-size: 6rem;
        opacity:0.6;
    }
    100%{
        bottom: 35rem;
        right: 15rem;
        font-size: 10rem;
        opacity:0.4;
    }

}

.name,.music,.description{
    position: absolute;
    bottom: 13rem;
    height: 1rem;
    width: 15rem;
    left: 2rem;
    font-weight: bold;
    color: white;
    padding-left: 0.5rem;
    font-size: 23px;
    text-shadow: none;
}
.music{
    bottom: 10rem;
    display: flex;
    font-size: larger;
}
.music-logo{
    height: 100%;
    width: 10%;
    color: white;
}
.music-name{
    display: flex;
    justify-content: center;
    align-items: center;
}
.description{
    width: 30rem;
    height: 5rem;
    bottom: 3rem;
}
.commentBOX{
    height: 50%;
    width: 100%;
    object-fit: cover;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 17px 8px, rgba(0, 0, 0, 0.3) 0px 14px 26px -6px, rgba(0, 0, 0, 0.2) 0px -6px 0px inset;
    background-color: aliceblue;
}

.backBtn{
    position: absolute;
    right: 2rem;
    top: 16.5rem;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 7px 0px black;
    z-index: 3;
}

.newcommentBox{
    height: 3rem;
    width: 100%;
    position: absolute;
    bottom: 16rem;
    display: flex;
    align-items: center;
}
.newComment{
    height: 95%;
    width: 89%;
    margin-left: 1rem;
    border-radius: 3rem;
    border: 1px solid;
    outline: none;
    font-weight: bold;

}
.sendbtn{
    height: 95%;
    width: 8%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2.5rem;
}
.allCommentSection{
    height: 26.3rem;
    width: 100%;
    position: absolute;
    top: 15.2rem;
    border-radius: 2rem;
    overflow: scroll;
}
.allCommentSection::-webkit-scrollbar{
    display: none;
}

.comment_photo{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    margin-top: 1rem;
    margin-left: 1rem;
}

.comments{
    height: 5rem;
    margin-top: 0.5rem;
}
.comments_detail{
    height: 2rem;
    display: flex;
    align-items: center;
}
.comments_name{
    font-size: 1rem;
    font-weight: bold;
    margin-left: 1rem;
    margin-top: 1rem;
}
.comment_comment{
    font-size: 1rem;
    margin-top: 1rem;
    margin-left: 5rem;
}
@media(max-width: 360px){
    .video-card{
        width: 100%;
    }
    .video{
        height: 85%;
        width: 95%;
        margin-left: 2.5%;
        border-radius: 28px;
    }
    .like{
        color: red;
    right: 2rem;
    bottom: 16rem;
    font-size: 2.5rem;
    }
    .comment{
        color: #fff;
        right: 2rem;
        bottom: 10rem;
        font-size: 2.5rem;
    }
    .share{
        right: 2.5rem;
    color: #fff;
    bottom: 6rem;
    font-size: 2.3rem;
    }
}